@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  height: auto;
  margin: 40px 10px;
}

/* help layout */


/* faq */


/* careers list */


/* careers details */


/* breadcrumbs */

/* home-layout */
.root-layout{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: 50px;
  /* background-color: teal; */
}

.root-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #38436a; /* You can set the background color as needed */
  z-index: 100; /* Set a z-index to ensure it appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  padding: 10px 20px; /* Optional: Add padding to the header */
  box-sizing: border-box;
}

.home-layout{
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
  /* background-color: teal; */
}

.home-layout img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 40%; /* 50% from the left, 20% from the top */
}

.sidebar{
  width: 250px;
  height: 500px;
  outline: 1px solid #38436a;
  margin-right: 20px;
  padding: 1.2rem  0rem;
  position: sticky;
  top: 65px; 
  flex-shrink: 0; 
}

.sidebar ul{
  list-style: none;
  /* padding: 0;
  margin: 0; */
}
.sidebar-ul a{
  text-decoration: none;
}

.my-table{
  width: 100%;
  text-align: center;
  outline: #38436a 1px solid;
}

.my-table thead{
  background-color: #6073b6;
  color: white;
}

.my-table tr:nth-child(even){
  background-color: #38436a;
}